
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <h2>Sign Up</h2>
  <mat-form-field>
    <input matInput type="email" placeholder="Email" formControlName="email">
    <mat-error *ngIf="signUpForm.controls.email.invalid && signUpForm.controls.email.touched">
      Please enter a valid email.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="signUpForm.controls.password.invalid && signUpForm.controls.password.touched">
      Please enter a password.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Sign Up</button>
  <br>
  <div>Already have an account?</div>
  <a mat-button (click)="onSignInClick()">Login In</a>
</form>
