.task-card {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
  
    mat-card-header {
      background-color: #007bff; 
      color: #fff; 
      padding: 12px;
    }
    .form-group{
      display: flex;
      flex-direction: table-column-group;
    }
    mat-card-content {
      display: flex;
      flex-direction: row;
      google-map{
        height:"240px";
        width:"250px"
      }
    }
  
    form {
      width: 100%;
  
      .mat-form-field {
        width: 100%;
        margin-bottom: 20px;
      }
  
      mat-label {
        color: #777;
        font-size: 14px;
      }
  
      input,
      textarea {
        font-size: 16px;
        color: #333;
      }
  
      .button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
  
        button {
          min-width: 120px;
          margin-left: 10px;
        }
  
        .mat-primary {
          background-color: #007bff;
        }
  
        .mat-warn {
          background-color: #dc3545;
        }
  
        &:disabled {
          opacity: 0.7;
        }
      }
    }
  }
  