
  <form>
    <h2>Thank You for Registering</h2>
    <div *ngIf="authService.userData as user">
    <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
    <p class="text-center">Please check your email and click on the link to verify your email address.</p>
    </div>

    <button mat-raised-button color="primary" (click)="sendVerificationMail()">Resend Verification Email</button>
    <br>
    <div>Go back to?</div>
    <a mat-button (click)="onSignInClick()"> Sign In</a>
  
  </form>
  